.PopularSuggestions {
  text-align: center;
  padding: 0 0 45px;

  h2 {
    margin: 0 0 20px 0;
  }

  .actions {
    margin: 0 0 20px 0;

    button,
    a {
      margin: 0 5px 0 0;
    }
  }

  .footer .actions {
    margin: 20px 0 0 0 !important;
  }
}
