.PopularSuggestions {
  text-align: center;
  padding: 0 0 45px;

  h2 {
    color: #425762;
    margin: 0 0 12px;
    font-size: 36px;
    line-height: 40px;
  }

  .actions {
    margin: 0 0 20px 0;

    button,
    a {
      margin: 0 5px 0 0;
    }
  }

  .footer .actions {
    margin: 20px 0 0 0 !important;
  }
}
