.PopularSuggestionsFilters {
  margin: 0 auto 20px auto;
  width: 600px;

  h3 {
    margin: 10px 0 0 0;    
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .ms-Toggle-label {
    font-size: 12px;
  }
}
